<div class="post-show card">
    <div class="post-show-header">
        <img src="images/profile.png" alt="" />
        <div class="post-show-header-desc">
            <h2>
                <%= name %>
            </h2>
            <p>
                <%= designation %>
            </p>
        </div>
    </div>
    <div class="post-show-content">
        <%= post %>
    </div>
    <div class="post-show-footer">
        <div class="post-show-footer-icon">
            <i class="fa-solid fa-thumbs-up"></i> <span>Like</span>
        </div>
        <div class="post-show-footer-icon">
            <i class="fa-solid fa-comment"></i><span>Comment</span>
        </div>
        <div class="post-show-footer-icon">
            <i class="fa-solid fa-trash delete-icon"></i> <span>Delete</span>
        </div>
        <div class="post-show-footer-icon">
            <i class="fa-solid fa-paper-plane"></i> <span>Send</span>
        </div>
    </div>
</div>